<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Distributed Battleship </title>
    <link rel="stylesheet" href="../Public/css/headline.css">
    <link rel="stylesheet" href="../Public/css/footer.css">
    <link rel="stylesheet" href="../Public/css/projects.css">
</head>
<body>

    <div class="pageBackground">
        <div class="header">
            <h1>
                <a href="Homepage.html" id="title" >Lior's Favourite Projects</a> 
            </h1>
            
            <div class="toolBar"> 

                <ul>
                    <li id = "homeBtn">
                        <a href="Homepage.html"> Home </a> 
                    </li>
                    <li>
                        <a href="Bomberman.html">Bomberman</a> 
                    </li>
                    <li>
                        <a href="YNOT.html"> YNOT Digital Website </a>
                    </li>
                    <li>
                        <a class="active" href="Battleship.html"> Distributed Battleship Game </a>
                    </li>
                    <li>
                        <a href="SousChapp.html">Sous-Chapp </a> 
                    </li>
                </ul>
            </div>  
        </div>
    
        <div class="content">
            <h1 id= "projectTitle"> Battleship Game</h1>
            <h1> About the project</h1>
            <ul>
                <li> 
                    A console-based application about the popular battleship game.
                </li>
                <li>
                    Uses network sockets to communicate with other clients on the same network, allowing them to play each other using TCP connection, developed in Java.
                </li>
                <li>
                    Features a client, a server, and an observer.
                </li>
                <li>
                    It also includes registration and login with the server.
                </li>
            </ul>
            <img src="../Public/images/Battleship.png">

            <h1> Links </h1>
            <br>
            <p>GitHub: </p>
        </div>

        <br>
        <footer id="footer">
            
            <div>
                <img src="../Public/images/mail.png"> 
                <span>
                    <a href="mailto: lior.somin1@ucalgary.ca">lior.somin1@ucalgary.ca</a>
                </span>
                <br>
                <img src="../Public/images/globe.png">
                <span>
                    <a href="https://liorsomin.herokuapp.com/">https://liorsomin.herokuapp.com/</a>
                </span>
                <br>
                <img src="../Public/images/LinkedIn.png">
                <span>
                    <a href="https://www.linkedin.com/in/liorsomin/">https://www.linkedin.com/in/liorsomin/</a>
                </span>
            </div>
            
        </footer>
    </div>
    
    
</body>
</html>