<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../Public/css/headline.css">
    <link rel="stylesheet" href="../Public/css/footer.css">
    <link rel="stylesheet" href="../Public/css/projects.css">
</head>
<body>

    <div class="pageBackground">
        <div class="header">
            <h1>
                <a href="index.html" id="title" >Lior's Favourite Projects</a> 
            </h1>
            
            <div class="toolBar"> 

                <ul>
                    <li id = "homeBtn">
                        <a href="index.html"> Home </a> 
                    </li>
                    <li>
                        <a class="active" href="Bomberman.html">Bomberman</a> 
                    </li>
                    <li>
                        <a href="YNOT.html"> YNOT Digital Website </a>
                    </li>
                    <li>
                        <a href="Battleship.html"> Distributed Battleship Game </a>
                    </li>
                    <li>
                        <a href="SousChapp.html">Sous-Chapp </a> 
                    </li>
                </ul>
            </div>  
        </div>
    
        <div class="content">
            <h1> About the project</h1>
            <ul>
                <li> 
                    A PHP based project implemented to provide a more simplistic management system for the YNOT Digital Printing company for tracking down employees' requests and approving or denying them.
                </li>
                <li>
                    Features secure login/signup using hashes and salts.
                </li>
                <li>
                    MySQL is used for database management using phpMyAdmin.
                </li>
                <li>
                    It is secure against XSS and SQL injections attacks.
                </li>
            </ul>
            <img src="../Public/images/Bomberman.png">

            <h1> Links </h1>
            <br>
            <p>GitHub: </p>
        </div>

        <br>
        <footer id="footer">
            
            <div>
                <img src="../Public/images/mail.png"> 
                <span>
                    <a href="mailto: lior.somin1@ucalgary.ca">lior.somin1@ucalgary.ca</a>
                </span>
                <br>
                <img src="../Public/images/globe.png">
                <span>
                    <a href="https://liorsomin.herokuapp.com/">https://liorsomin.herokuapp.com/</a>
                </span>
                <br>
                <img src="../Public/images/LinkedIn.png">
                <span>
                    <a href="https://www.linkedin.com/in/liorsomin/">https://www.linkedin.com/in/liorsomin/</a>
                </span>
            </div>
            
        </footer>
    </div>
    
    
</body>
</html>