<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../Public/css/headline.css">
    <link rel="stylesheet" href="../Public/css/footer.css">
    <link rel="stylesheet" href="../Public/css/homepage.css">
</head>
<body>

    <div class="pageBackground">
        <div class="header">
            <h1>
                <a href="index.html" id="title" >Lior's Favourite Projects</a> 
            </h1>
            <table>
                <tr>
                    <td id="header_home"> 
                        <a href="index.html"> Home </a> 
                    </td>

                    <td> 
                        <a href="SousChapp.html">Sous-Chapp </a>   
                    </td>
                    <td> 
                        <a href="Battleship.html"> Distributed Battleship Game </a>
                    </td>
                    <td>  
                        <a href="YNOT.html"> YNOT Digital Website </a>
                    </td>
                    <td> 
                        <a href="Bomberman.html">Bomberman</a>  
                    </td>

                </tr> 
            </table>    
        </div>
    
        <div class="content">
            <h1> About </h1>
            <p>
                The projects presented on this website showcase some of my favourite projects I have completed throughout my computer science degree (so far at least...). 
                I have learned a lot while working on these projects.


                All the projects were group based projects, and therefore all the names of the group members could be found in the GitHub page.

                All the projects that are presented have a direct link to their respective GitHub repository.

            </p>
            <h1> Skills Learned</h1>

            <div style="overflow-x:auto" id="skillTable">
                <table>
                    <tr>
                        <th>
                            Project Name
                        </th>
                        <th>
                            Networking
                        </th>
                        <th>
                            Game Design
                        </th>
                        <th>
                            HCI
                        </th>
                        <th>
                            Web Development
                        </th>
                        <th>
                            Information Security
                        </th>
                        <th>
                            Database Management
                        </th>
                    </tr>
                    
                    
                    <tr>
                        
                        <td>
                            <a href="SousChapp.html">Sous-Chapp</a>
                        </td>
                        <td>
                            <a href="SousChapp.html">  &nbsp </a>
                        </td>
                        <td>
                            <a href="SousChapp.html">  &nbsp </a>
                            
                        </td>
                        <td>
                            <a href="SousChapp.html"> <img src="../Public/images/Checkmark.png" class="checkmark"> </a>
                        </td>
                        <td>
                            <a href="SousChapp.html"> &nbsp </a>
                        </td>
                        <td>
                            <a href="SousChapp.html"> &nbsp </a>
                        </td>
                        <td>
                            <a href="SousChapp.html">&nbsp </a>
                        </td>
                    </tr>
                    
                    <tr>
                        
                        <td>
                            <a href="Battleship.html">Distributed Battleship Game </a>
                        </td>
                        <td>
                            <a href="Battleship.html">   <img src="../Public/images/Checkmark.png" class="checkmark"> </a>
                        </td>
                        <td>
                            <a href="Battleship.html">   <img src="../Public/images/Checkmark.png" class="checkmark"> </a>
                            
                        </td>
                        <td>
                            <a href="Battleship.html"> &nbsp </a>
                        </td>
                        <td>
                            <a href="Battleship.html"> &nbsp </a>
                        </td>
                        <td>
                            <a href="Battleship.html">  <img src="../Public/images/Checkmark.png" class="checkmark"> </a>
                        </td>
                        <td>
                            <a href="Battleship.html">&nbsp </a>
                        </td>
                    </tr>

                    <tr>
                        
                        <td>
                            <a href="YNOT.html"> YNOT Digital Website </a>
                        </td>
                        <td>
                            <a href="YNOT.html">   <img src="../Public/images/Checkmark.png" class="checkmark"> </a>
                        </td>
                        <td>
                            <a href="YNOT.html">  &nbsp  </a>
                            
                        </td>
                        <td>
                            <a href="YNOT.html"> <img src="../Public/images/Checkmark.png" class="checkmark"> </a>
                        </td>
                        <td>
                            <a href="YNOT.html"> <img src="../Public/images/Checkmark.png" class="checkmark">  </a>
                        </td>
                        <td>
                            <a href="YNOT.html">  <img src="../Public/images/Checkmark.png" class="checkmark"> </a>
                        </td>
                        <td>
                            <a href="YNOT.html"> <img src="../Public/images/Checkmark.png" class="checkmark"> </a>
                        </td>
                    </tr>

                    <tr>
                        
                        <td>
                            <a href="Bomberman.html"> Bomberman </a>
                        </td>
                        <td>
                            <a href="Bomberman.html">   &nbsp </a>
                        </td>
                        <td>
                            <a href="Bomberman.html">  <img src="../Public/images/Checkmark.png" class="checkmark">  </a>
                            
                        </td>
                        <td>
                            <a href="Bomberman.html"> <img src="../Public/images/Checkmark.png" class="checkmark"> </a>
                        </td>
                        <td>
                            <a href="Bomberman.html"> &nbsp  </a>
                        </td>
                        <td>
                            <a href="Bomberman.html">  &nbsp </a>
                        </td>
                        <td>
                            <a href="Bomberman.html"> &nbsp </a>
                        </td>
                    </tr>

                </table>
            </div>
            

        </div>

        <br>
        <footer id="footer">
            
            <div>
                <img src="../Public/images/mail.png"> 
                <span>
                    <a href="mailto: lior.somin1@ucalgary.ca">lior.somin1@ucalgary.ca</a>
                </span>
                <br>
                <img src="../Public/images/globe.png">
                <span>
                    <a href="https://liorsomin.herokuapp.com/">https://liorsomin.herokuapp.com/</a>
                </span>
                <br>
                <img src="../Public/images/LinkedIn.png">
                <span>
                    <a href="https://www.linkedin.com/in/liorsomin/">https://www.linkedin.com/in/liorsomin/</a>
                </span>
            </div>
            
        </footer>
    </div>
    
    
</body>
</html>