#footer{
    position: absolute; 
    bottom:0; 
    width:100%; 
    background-color:#3e4988;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#footer div{
    text-align: left;
    display: inline-block;
}

#footer img{
    height: 1rem;
    width: auto;
    vertical-align: middle;
}

#footer a {
    vertical-align: middle;
    color: white;
    text-decoration: none;
}