body{
    margin-top: 0px; 
    margin-bottom: 0px; 
    margin-left: 0px; 
    margin-right: 0px;
    padding: 0;
    background-color: #F0F0F0 !important;
    font-family: 'Roboto', sans-serif !important;
}


.pageBackground{
    background-color: white;
    margin:0% 5% 0% 5%; 
    min-height:100vh;
    height: 100%;
    position: relative;
}

div.header{
    background-color: #3e4988;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 15px;
}

.header h1{
    color: white;
}

.header a{
    text-decoration: none;
    color: white;
}


.header a:hover{
    color: gray;
}

#title:hover{
    color: white;
}

.header table{
    table-layout: fixed;
    color: white;
    width: 100%;
}

.header td{
    text-align: center;
    padding-left: 2%;
    padding-right: 2%;
}


@media (min-width: 0px) {
    .header td{
        font-size: 9pt;
        width: 20%;
    }
    
    .header #header_home{
        text-align: center;
        width: 20%;
    }
}


@media (min-width: 768px) { 
    .header td{
        font-size: 12pt;
        width: 20%;
    }
    
    .header #header_home{
        text-align: center;
        width: 20%;
    }
    
}

@media (min-width: 992px) { 
    .header td{
        font-size: 14pt;
        width: 15%;
    }
    
    .header #header_home{
        text-align: left;
        padding-left: 5%;
        padding-right: 0%;
        width: 40%;
    }
}

@media (min-width: 1200px) { 
   
} 

    
